.vs
kp1.sln
kp1.csproj
obj
runtimes
kp1.deps.json
kp1.dll
kp1.exe
kp1.pdb
kp1.runtimeconfig.dev.json
kp1.runtimeconfig.json
Microsoft.Win32.SystemEvents.dll
System.Configuration.ConfigurationManager.dll
System.Drawing.Common.dll
System.Security.AccessControl.dll
System.Security.Cryptography.ProtectedData.dll
System.Security.Permissions.dll
System.Security.Principal.Windows.dll
System.Windows.Extensions.dll